body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  color: var(--text-color);
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}
  
::-webkit-scrollbar-button {
    display: none;
}

/* font */

@font-face {
    font-family: 'cc-provided';
    src: url('./font/CascadiaCode.ttf');
}

body, input, textarea, button {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
    font-family: "cc-provided", "Cascadia Code", "Jetbrains Mono", Menlo, Consolas, "Courier New", monospace;
}

div {
    align-self: flex-start;
}

/* stuff */

:root {
    --text-color: whitesmoke;
    --border-color: grey;
    --border-radius: 0.5rem;
    --red: #FC1354;
    --yellow: #FDDE5A;
    --green: #0FFEAA;
    --blue: #3DB9F6;
    --bg: #051525;
    --dark-bg: rgba(7, 11, 15, 0.75);
    --btn-border-width: 2px;
}

#canvas-container {
    max-width: 720px;
    display: flex;
    justify-items: center;
    z-index: -1;
}


.layered {
  display: grid;

  /* Set horizontal alignment of items in, case they have a diffrent width. */
  /* justify-items: start | end | center | stretch (default);*/
  justify-items: center;

  /* Set vertical alignment of items, in case they have a diffrent height. */
  /* align-items: start | end | center | stretch (default); */
  align-items: center;
  
  
  margin-left: -180px; /* (1080-720)/2 */
  margin-top: -180px

}

.layered > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.flexbox {
  display: flex;
  gap: 1rem;
  align-items: center;
  /* hmm */
  /* max-width: fit-content; */
}

.flexbox-start {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.gap-half {
    gap: 0.5rem;
}

.flexbox-vert {
    flex-direction: column;
}

#events_container {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 25vw;
}

#right_column {
    margin-top: 1rem;
}

.event_completed {
    color: var(--green);
}

.bubble {
    /* border: 2px solid var(--border-color); */
    border-radius: var(--border-radius);
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--dark-bg);
}

button {
    border: var(--btn-border-width) solid var(--border-color);
    border-radius:  var(--border-radius);
    padding: .5rem;
    font-size: 1rem;
    background-color: var(--dark-bg);
    color: var(--text-color);
    width: 10rem;
}


input {
    background-color: var(--dark-bg);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    width: 7rem;
    padding: .25rem;
}

input[type="radio"] {
    border: 0px;
    width: auto;
    /* width: 100%; */
    /* height: 1.5rem; */
    accent-color: var(--blue)
}

a {
    color: var(--blue);
}

/* budget tailwind */
.m-0 {
    margin: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.red {
    color: var(--red);
}

.yellow{
    color: var(--yellow)
}

.green {
    color: var(--green);
}

.blue {
    color: var(--blue);
}

.border-red {
    border-color: var(--red);
}

.border-yellow {
    border-color: var(--yellow);
}

.border-green {
    border-color: var(--green);
}

.border-blue {
    border-color: var(--blue);
}

.border-thin {
    border-width: 1.5px;
}

.squareBtn {
    width: 1.6rem;
    padding: .1rem;
}

.w-20 {
    width: 20rem
}